name: CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Initialization environment
      run: |
        pwd
        ls -al
        sudo -E apt-get update
        sudo -E apt-get -y install maven
        sudo -E apt-get clean
        mvn -version
    - name: Run a multi-line script
      run: |
        echo Add other actions to build,
        echo test, and deploy your project.
